/.idea/
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/bin/
/app/config/parameters.yml
/app/config/parameters/parameters_*
/web/config.php
/app/SymfonyRequirements.php
/app/check.php
